.googleLogin {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.googleLogin button {
  background-color: #fff;
  color: #444;
  font-size: 1rem;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.googleLogin button img {
  margin-right: 10px;
}
